#boothAlways {
    background-image: none;
    background-color: #F7F7F7;
}

.Booth-Container {
    width: 100%;
    height: calc(100dvh - 107px);
    overflow: hidden;
}

.map-wrap {
    position: relative;
    width: 768px;
    height: auto;
}

.campus-svg {
    width: 380px;
    height: 800px;
}

.marker-icon {
    position: absolute;
    transform: translate(-50%, -50%);
    width: 8px;
    height: 8px;
    cursor: pointer;
    pointer-events: auto;
}

.BoothsContainer {
    background: #FFFFFF;
    position: absolute;
    bottom: 0px;
    width: calc(100% - 34px);
    height: 15%;
    padding-top: 50px;
    padding-right: 17px;
    padding-left: 17px;
    justify-content: flex-start;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    box-shadow: 0px 0px 4px 0px #00000080;

}

.BottomMenu {
    flex: 1;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    gap: 8px;
    max-height: 100%;
}

.boothbox {
    background-color: #FFFFFF;
    width: 100%;
    height: 140px;
    border-radius: 12px;
    border: 2px solid #E9EBED;
}

.HandleBar {
    width: 40px;
    height: 5px;
    background: #ccc;
    border-radius: 3px;
    margin: 8px auto;
}