#boothAlways {
    background-image: none;
    background-color: #F7F7F7;
}

.Booth-Container {
    width: 100%;
    height: calc(100dvh - 107px);
    overflow: hidden;
}

.map-wrap {
    position: relative;
    width: 768px;
    height: auto;
}

.campus-svg {
    width: 380px;
    height: 800px;
    z-index: 1;
}

.marker-icon {
    position: absolute;
    transform: translate(-50%, -50%);
    width: 8px;
    height: 8px;
    cursor: pointer;
    z-index: 2;
}

.booth-tooltip {
    position: absolute;
    transform: translate(-50%, calc(-100% - 10px));
    min-width: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1.5px 3px;
    background: #4A9BF6;
    border-radius: 4px;
    font-family: 'DnfBitbeatV2';
    font-size: 5px;
    color: #1B1D1F;
    white-space: nowrap;
    z-index: 5;
    pointer-events: auto;
    color: #FFFFFF;
}

/* 아래 꼬리 */
.booth-tooltip::after {
    content: "";
    position: absolute;
    left: 50%;
    bottom: -5px;
    transform: translateX(-50%);
    width: 0;
    height: 0;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-top: 6px solid #4A9BF6;
}

.BottomMenu {
    flex: 1;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    gap: 8px;
    max-height: 100%;
    scroll-behavior: smooth;
    -webkit-overflow-scrolling: touch;
}

.BottomMenu::-webkit-scrollbar {
    display: none;
}

.boothbox {
    background-color: #FFFFFF;
    width: calc(99% - 32px);
    height: 140px;
    border-radius: 12px;
    border: 2px solid #E9EBED;
    display: flex;
    gap: 19px;
    padding: 16px;
}

.HandleBar {
    width: 40px;
    height: 5px;
    background: #ccc;
    border-radius: 3px;
    margin: 8px auto;
}

.Booth-Logo {
    width: 58px;
    height: 58px;
    border-radius: 50%;
    object-fit: cover;
}

.Booth-Info {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 6px;
}

.Booth-Info-Name {
    font-family: 'Pretendard-SemiBold';

    font-size: 16px;
    color: #1B1D1F;
}

.Booth-Info-Desc {
    font-family: 'Pretendard-Regular';
    font-size: 14px;
    color: #9FA4A9;
    margin-bottom: 31px;
}

.Booth-Bookmark {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1px;
}

.Booth-Info-KeyWords {
    margin-top: 5px;
    position: absolute;
    bottom: 0;
    display: flex;
    justify-content: flex-start;
    gap: 5px;
}

.Booth-Info-KeyWords span {
    font-family: 'Pretendard-Regular';
    font-size: 14px;
    color: #464C52;
    padding: 5px 13px;
    max-width: 42px;
    background-color: #E9EBED;
    border-radius: 100px;
    white-space: nowrap;
}

.BookmarkIcon {
    width: 30px;
    height: 30px;
}

.Bookmark-Count {
    font-family: 'Pretendard-Light';
    font-size: 12px;
    color: #464C52;
}