.LineUp {
    position: relative;
    min-height: 1300px;
    background-image: url('/images/BackgroundImg.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.LineUp-Box{
    width: 281px;
    height: 1166px;
    border: 5px solid #243F73;
    position: relative;
    margin-top: 50px;
    position: relative;
    background-color: #ffffff;
}

.LineUp-Top{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 11px 0px;
    background-color: #9DAFD1;
    justify-content: center;
    gap: 35px;
}

.LineUp-Top img{
    width: 35px;
    height: 35px;
}
.LineUp-Top span{
    font-family: 'DnfBitbeatV2';
    font-size: 24px;
    text-align: center;
    font-weight: 400;
    color: #fff;
    margin-left: 77px;
}

.lu-list {
    list-style: none;
    background-color: #ffffff;
    margin: 27px auto;
    padding: 0;
    display: flex;
    flex-direction: column;
    gap: 27px;
    align-items: center;
    height: 1066px;
}

.lu-item {
    position: relative;  
    width: 214px;     
}

.lineupImg {
    width: 214px;
    height: 151px;
    border-radius: 10px;
    display: block;
}

.lu-name {
    position: absolute;
    left: 50%;
    bottom: 10px;
    transform: translateX(-50%);
    font-family: 'Pretendard-Bold';
    font-weight: 700;
    font-size: 18px;
    color: #ffffff;
    white-space: nowrap;
}

.LUsparkle3{
    width: 84px;
    height: 101px;
    position: absolute;
    top: 25px;
    left: -40px;
    z-index: 1;
}
.LUsparkle4{
    width: 76px;
    height: 90px;
    position: absolute;
    top: 430px;
    right: -20px;
    z-index: 1;
}
.LUsparkle6{
    width: 91px;
    height: 106px;
    position: absolute;
    bottom: 350px;
    left: -35px;
    z-index: 1;
}
.LUsparkle5{
    width: 76px;
    height: 90px;
    position: absolute;
    right: -50px;
    bottom: 100px;
}

.LUCharactor-Box{
    position: absolute;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 150px;
    left: -33px;
    bottom: -73px;
}

.char1,.char2{
    width: 92px;
    height: 115px;
}
