.Sponsor{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 60px;
    background-color: transparent;
}
.Sponsor-title{
    color: #4A9BF6;
    font-family: 'DnfBitbeatV2';
    font-size: 24px;
    font-weight: 400;
    margin-bottom: 10px;
}

.Sponsor-Img{
    display: flex;
    flex-direction: row;
    gap: 10px;
    width: 108px;
    height: 108px;
}

.Sponsor-Name{
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #002956;
    font-family: 'DnfBitbeatV2';
    font-size: 14px;
    font-weight: 400;
    position: relative;
}

.Sponsor-List{
    display: flex;
    flex-direction: row;
    width: 100%;
    flex-wrap: wrap; /* 줄바꿈 */
    justify-content: center; 
    column-gap: 10px;         
    row-gap: 10px;           
}


.Sponsor-Card:first-child {
    margin-right: -10px;
}
