/* 기본 모바일 */
.ViewBox {
    position: relative;
    z-index: 0;
}

.Always {
    position: relative;
    width: 100vw;
    height: 100dvh;
    /* height: auto; */
    background-image: url('/images/BackgroundImg.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    overflow-x: hidden;
}

.Always.no-scroll {
    overflow: hidden;
}

.SubMain {
    position: relative;
    background-image: url('/images/MainSub.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}


.MyPageAlways {
    position: relative;
    background-position: center;
    background-repeat: no-repeat;
    background-color: #ffffff;
}

.MyPageAlways.no-scroll {
    overflow: hidden;
}

.ResponsiveScreen1,
.ResponsiveScreen2 {
    display: none;
}


/* 태블릿 이상 */
@media (min-width: 768px) {
    .Always {
        width: 360px;
        height: 800px;
        border: 5px solid #020202;
        border-radius: 20px;
        overflow-y: auto;
    }

    .Always::-webkit-scrollbar {
        display: none;
    }

    .MyPageAlways {
        width: 360px;
        height: 800px;
        border: 5px solid #020202;
        border-radius: 20px;
        overflow-y: auto;
    }

    .MyPageAlways::-webkit-scrollbar {
        display: none;
    }

    .ViewBox {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 59px;
        background-image: url('/images/viewBox.png');
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        flex-direction: row;
        width: 100vw;
        height: 100dvh;
    }
}

/* PC 이상 */
@media (min-width: 1301px) {
    .Always {
        width: 393px;
    }

    .SubMain {
        width: 393px;
    }

    .MyPageAlways {
        width: 393px;
    }

    .MainScreen {
        justify-content: space-between;
    }


    .ResponsiveScreen1 {
        height: 800px;
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
    }

    .ResponsiveScreen1 img {
        width: 326px;
    }

    .ResponsiveScreen2 {
        height: 800px;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        align-items: flex-end;
    }

    .ResponsiveScreen2-div {
        display: flex;
        align-items: center;
        gap: 20px;
        font-family: 'DnfBitbeatV2';
    }

    .ResponsiveScreen2-div :nth-child(1) {
        font-size: 36px;
        color: #9BC5F5;
        line-height: 108.7%;
    }

    
    .ResponsiveScreen2-div :nth-child(2) {
        font-size: 20px;
        color: #9BC5F5;
        line-height: 108.7%;
    }
}