.Header {
    position: relative;
    width: 100%;
    background-color: transparent;
}

.HeaderBox {
    padding-top: 50px;
    position: relative;
    z-index: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
}

.HeaderBox.menu-open {
    /* z-index: 0; */
}

.MenuBox-Imgs {
    margin-bottom: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 60px;
}

.MenuBox-Imgs img:nth-child(1) {
    width: 158px;
    height: 63px;
    margin-bottom: 20px;
}

.MenuBox-Imgs img:nth-child(2) {
    width: 20px;
    height: 20px;
}


.HeaderLogo {
    width: 131px;
    height: 52px;
    margin-bottom: 5px;
}

.SideTabIcon {
    width: 32px;
    height: 32px;
    cursor: pointer;
    /* z-index: 0; */
    position: absolute;
    left: 0;
    margin-left: 20px;
}

.MenuBox {
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: calc(100dvh - 85px);
    padding-top: 35px;
    padding-bottom: 50px;
    background: #fff;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    padding-left: 25px;
    /* 위에 헤더박스 패딩이랑 동일하게 조정 */
    white-space: nowrap;
    opacity: 0;
    pointer-events: none;
    transition: width 0.5s ease, opacity 0.5s ease;
    z-index: 1100;
    overflow-y: scroll;
}

.MenuBox.active {
    width: 285px;
    opacity: 1;
    pointer-events: auto;
    z-index: 1100;
}

.MenuBox-SubMenu {
    display: flex;
    flex-direction: column;
    gap: 11px;
    margin-bottom: 21px;
}

.MenuBox-SubMenu span:nth-child(1) {
    font-family: 'DnfBitbeatV2';
    font-weight: 400;
    font-style: Regular;
    font-size: 20px;
    color: #1B1D1F;
}

.MenuBox-SubMenu {
    font-family: 'Inter';
    font-weight: 400;
    font-style: Regular;
    font-size: 18px;
    color: #9FA4A9;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100dvh;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1050;
}

@media (min-width: 768px) {
    .MenuBox {
        height: 725px;
    }
}